**

!/include
include/assetsID.hpp
include/client/gui/guiID.hpp

!/keys

!/src
src/client/cli/Assets.cpp
src/client/gui/Assets.cpp

!/static
static/*.db
static/built

!addDbLevels.py
!admin.py
!buildAssets.py
!buildDatabase.py
!Makefile

!kasm/custom_startup.sh
!kasm/maximize_window.sh
